/*===========================
GENERAL
=============================*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.wrap {
  margin: 0;
}

a {
  text-decoration: none;
}

.col p {
  text-align: left;
}


/*================================
NAVIGATION
==================================*/

.main-header {
  background: #000;
  width: 100%;
  padding-top: .5em;
  padding-bottom: .5em;
  margin: 0;
  top: 0;
  position: fixed;
  z-index: 1000;
}

.main-nav {
  display: none;
}

.hamburger {
  height: auto;
  width: 160px;
  position: absolute;
  left: 50%;
}

.main-nav a {
  color: #b2bbbd;
  display: block;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
  font-size: .95em;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}



 .main-nav a:hover, .main-nav li:active {
  color: #fff;
}

.main-nav a.selected, .main-nav a:hover {
  color: #fff;
}

.btn:hover, .btn:active {
  background-color: #fff;
  color: #000;
}

.btn {
  color: #fff;
  font-weight: bold;
}

.logo {
  margin: 0;
  text-align: left;
  color: #c00;
  font-weight: normal;
  margin-top: 4px;
  background-color: #000;

}

/*======================================
Home Page
========================================*/

/*---------Main Heading--------*/

.banner {
  background: url(../img/dc3.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
  height: auto;
  width: 100%;
  padding: 40% 15%;
  text-align: center;
  border-bottom: 1px solid #999;

}

.banner h1 {
  font-size: 20px;
  color: #fff;
  font-weight: 10px;
  letter-spacing: 2px; 
  margin-bottom: 35px;
  text-transform: uppercase;
  font-family: 'Varela', san-serif;
  text-align: center;
}

.banner p {
  color: #fff;
  margin-top: 0;
  margin-bottom: 60px;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  font-size: 15px;
}

/*---"Learn More" Btn-----*/

.btn {
  border: 1px solid #dfe2e5;
  color: #fff;
  padding: 15px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

/*-------Layout----------*/

.container {
  margin: 0 auto;
  width: 90%;
  padding-left: 1em;
  padding-right: 1em;
}

.col {
  line-height: 25px;
  text-align: center;
  padding: 20px 0;
}

.content, h2 {
  text-align: center;
  margin-bottom: 1em;
  margin-top:  1em;
}

/*--------Graphic icons---*/

#first, #second, #third {
 width: 100px;
 height: auto;
}



/*=================================
ABOUT PAGE
===================================*/


.banner-about { 
  background: url(../img/together.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
  height: auto;
  width: 100%;
  padding: 40% 15%;
  text-align: center;
  border-bottom: 1px solid #999;
}

.about-heading, .events-heading, .contact-heading {
  font-size: 20px;
  color: #fff;
  font-weight: 10px;
  letter-spacing: 2px; 
  margin-bottom: 35px;
  text-transform: uppercase;
  font-family: 'Varela', san-serif;
  text-align: center;
}

.about-content {
  text-align: left;
}

.secondary ul {
  list-style-type: disc;
  list-style-position: inside;
  text-align: left;
}

#second-about {
  font-size: 1.10em;
}

/*================================
EVENTS PAGE
==================================*/


.banner-events {
  background: url(../img/meetup.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
  height: auto;
  width: 100%;
  padding: 40% 15%;
  text-align: center;
  border-bottom: 1px solid #999;
  }


.event-headline {
  text-align: center;
  font-size: 1.10em;
}

.events-announcement {
  text-align: center;
  margin-top: 2em;
}

/*------------CALENDAR------*/



table {
  width: 300px;
  height: 300px;
  background: #ebebeb;
  margin: 50px auto;
  border-collapse: collapse;
  box-shadow: 0 0 50px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 50px rgba(0, 0, 0, .2);
  -o-box-shadow: 0 0 50px rgba(0, 0, 0, .2);
}



/*--------MONTH-------------*/
.month {
  background: #8a2929;
  color: #fff;
  font: 1.25em/1em arial;
  height: 45px;
  border-top: solid 10px #8a2929;
}



/*----------WEEKS-----------*/

.weeks {
  background: #fff;
  height: 40px;
  font: 1em/1em arial;
  color: #ff3c31;
  text-align: center;
}



/*------------DAYS----------*/

.week1 td {
  height: 50px;
  width: 50px;
  text-align: center;
  font: 500 1em/1em arial;
  color: #212121;
}

.week2 td {
  height: 50px;
  width: 50px;
  text-align: center;
  font: 500 1em/1em arial;
  color: #212121;
}

.week3 td {
  height: 50px;
  width: 50px;
  text-align: center;
  font: 500 1em/1em arial;
  color: #212121;
}

.week4 td {
  height: 50px;
  width: 50px;
  text-align: center;
  font: 500 1em/1em arial;
  color: #212121;
}

.week5 td {
  height: 50px;
  width: 50px;
  text-align: center;
  font: 500 1em/1em arial;
  color: #212121;
}

/*----Hover over dates and selected dates----*/

.days:hover {
  background: #8a2929;
  color: #fff;

}

.week3 .active, .week4 .active, .week5 .active, .week2 .active {
  background-color: #8a2929;
  cursor: pointer;
  color: #fff;
}

.active a {
  list-style: none;
  color: #fff;
}

/*================================
MEMBERSHIP
=================================*/

.banner-membership {
  background: url(../img/passion.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
  height: auto;
  max-width: 100%;
  padding: 40% 15%;
  text-align: center;
  border-bottom: 1px solid #999;
  }

  .membership-headline  {
  text-align: center:;
  text-decoration: underline;
}

.membership-heading {
  color: #fff;
}

.membership-announcement {
  text-align: center;
  margin-top: 2em;
}

#second-membership {
  font-size: 1.10em;
}


/*=================================
CONTACT US
===================================*/

/*------Contact Banner---------*/

.banner-contact {
  background: url(../img/laptop.jpg) center center;
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
  height: auto;
  max-width: 100%;
  padding: 40% 15%;
  text-align: center;
  border-bottom: 1px solid #999;
}

 .contact-headline  {
  text-align: center;
  text-decoration: underline;
  font-size: 1.10em;
}

.contact-heading {
  color: #fff;
}

.contact-announcement {
  text-align: center;
  margin-top: 2em;
}

#contact-membership {
  text-decoration: underline;
}


.contact h1 {
  color: #fff;
}


/*------Contact Form--------*/

div.box {
  text-align: center;
  margin: 3em auto;
  width: 90%;
  font: 1em arial;
  background: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 50px rgba(0, 0, 0, .2);
  -o-box-shadow: 0 0 50px rgba(0, 0, 0, .2);
}

div.box h1 { 
  color:#fff;
  font-size: 18px;
  text-transform:uppercase;
  padding: 20px 0 20px 0;
  background: #8a2929;
  text-align: center;
  margin: 0;
}

div.box label {
  max-width: 100%;
  display: block;
  background: #fff;
  padding: 25px 0 10px 0;

}

div.box label span { 
  display: block;
  color:#666;
  font-size:12px;
  float:left;
  width:100px;
  text-align:right;
  padding:5px 20px 0 0;
}

div.box .input_text {
  margin-top: .75em;
  padding: 10px 10px;
  width: 200px;
  background: #fff;
  border-bottom: 1px double #171717;
  border-top:  1px double #171717;
  border-left: 1px double #333;
  border-right: 1px double #333;
}

div.box .message {
  padding: 7px 7px;
  width: 90%;
  background: #fff;
  border-bottom: 1px double #171717;
  border-top: 1px double #171717;
  border-left: 1px double #333;
  border-right: 1px double #333;
  overflow: hidden;
  height: 150px;
  margin-top: 1em;
}

div.box .button {
  margin:0 0 27px 0;
  padding: 5px 34px;
  color: #000;
  border: 1px solid #000;
  position: relative;
  top: 15px;
}

div.box .button:hover {
  background: #8a2929;
  color: #fff;
}

/*--------Contact Details--------*/

.card {
  margin: 3em auto;
  width: 90%;
  font: 1em arial;
  background: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 50px rgba(0, 0, 0, .2);
  -o-box-shadow: 0 0 50px rgba(0, 0, 0, .2);
}

.card h1 {
  color:#fff;
  font-size: 18px;
  text-transform:uppercase;
  padding: 20px 0 20px 0;
  background: #8a2929;
  text-align: center;
  margin: 0;
}

.card #center {
  text-align: center;
}

/*-------Graphic Icons-------*/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  color: #000;
  margin: 1em;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}


.contact-info li.twitter a {
  background-image: url('../img/twitter2.png');
}

.contact-info li.pin a {
  background-image: url('../img/pin.png');
}

.contact-info a:hover {
  color: #8a2929;
}


/*=================================
FOOTER
===================================*/

.main-footer {
  background: #000;
  color: #b2bbbd;
  padding: 2em 0;
  margin-top: 30px;
  text-align: center;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  color: #b2bbbd;

}

.main-footer img:hover {
  background-color: #c00;
  padding: 1px;
}

.main-footer span {
  font-size: .75em;
  display: block;
  margin-top: 1em;
}



/*=================================
MEDIA QUERIES
===================================*/

@media (min-width: 769px) {

  /*------General------*/

  .container {
    margin: 0 auto;
    width: 90%;
    max-width: 999px;
    padding-left: 1em;
    padding-right: 1em;
  }


  .banner,
  .banner-about,
  .banner-events,
  .banner-membership,
  .banner-contact {
    height: 150px;
  }

  .main-header {
    position: fixed;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
    width: 100%;
    top: 0;
    z-index: 1000;
  }

  .main-nav li {
    float: left;
  }

  .main-nav {
    float: right;
    margin-left: 12px;
  }

  .logo {
    float: left;
    margin-top: 4px;
    background-color: #8a2929;
    color: #fff;
    padding: 1px 5px;
  }

    /*---------Pointing arrow--------*/

  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }

  }

  .arrow {
    position: absolute;
    bottom: 290px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yOTMuNzUxLDQ1NS44NjhjLTIwLjE4MSwyMC4xNzktNTMuMTY1LDE5LjkxMy03My42NzMtMC41OTVsMCwwYy0yMC41MDgtMjAuNTA4LTIwLjc3My01My40OTMtMC41OTQtNzMuNjcyICBsMTg5Ljk5OS0xOTBjMjAuMTc4LTIwLjE3OCw1My4xNjQtMTkuOTEzLDczLjY3MiwwLjU5NWwwLDBjMjAuNTA4LDIwLjUwOSwyMC43NzIsNTMuNDkyLDAuNTk1LDczLjY3MUwyOTMuNzUxLDQ1NS44Njh6Ii8+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjIwLjI0OSw0NTUuODY4YzIwLjE4LDIwLjE3OSw1My4xNjQsMTkuOTEzLDczLjY3Mi0wLjU5NWwwLDBjMjAuNTA5LTIwLjUwOCwyMC43NzQtNTMuNDkzLDAuNTk2LTczLjY3MiAgbC0xOTAtMTkwYy0yMC4xNzgtMjAuMTc4LTUzLjE2NC0xOS45MTMtNzMuNjcxLDAuNTk1bDAsMGMtMjAuNTA4LDIwLjUwOS0yMC43NzIsNTMuNDkyLTAuNTk1LDczLjY3MUwyMjAuMjQ5LDQ1NS44Njh6Ii8+DQo8L3N2Zz4=);
    background-size: contain;
  }

  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }


/*----------About Page--------*/

 .col {
    float: left;
    width: 33.33%;
    padding-top: 20px;
    padding-left: 1em;
    padding-right: 1em;
  }

  .banner h1,
  .banner-about,
  .banner-events,
  .banner-membership,
  .banner-contact {
    font-size: 3em;
    margin-top: -150px;
  }

  .about-heading {
    font-size: 1em;
  }


  .main-footer span {
    font-size: 1em;
  }


/*--------Events Page-------------*/

.events-heading {
    font-size: 1em;
  }

  table {
    width: 400px;
    height: 400px;
    background: #ebebeb;
    margin: 50px auto;
    border-collapse: collapse;
    box-shadow: 0 0 50px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 50px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 0 50px rgba(0, 0, 0, .2);
  }

  .events-announcement {
    text-align: center;
    margin-top: 2em;
    font-size: 1.25em;

  }

  .month {
    font-size: 2em;
  }

  /*----------Contact Page--------*/
  
  .column {
    float: left;
    width: 50%;
    padding-top: 20px;
    padding-left: 1em;
    padding-right: 1em;
  }

  .contact-heading {
    font-size: 1em;
  }

}


@media (min-width: 999px) {

  .container {
    margin: 0 auto;
    width: 90%;
    max-width: 1170px;
    padding-left: 1em;
    padding-right: 1em;
  }

  .arrow {
    bottom: 30px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    background-size: contain;
  }

  table {
    width: 500px;
    height: 500px;
    background: #ebebeb;
    margin: 50px auto;
    border-collapse: collapse;
    box-shadow: 0 0 50px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 50px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 0 50px rgba(0, 0, 0, .2);
  }
}






